html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1 {    
    font-size: 2.5rem;    
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: whitesmoke;   
    /*font-family: 'Montserrat', sans-serif; */
}

#navbar {    
    height: 75px;
    display: flex; 
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#nav-elements {
    width: 100%;
    max-width: 1280px;
    margin: auto;    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-section {
    display: flex;
    background-color: #040d21;
    padding: 2px 5px;
    border-radius: 5px;
    cursor: default;
    position: relative;       
}

#logo-text:hover {
    color: black;
}

#logo-section:hover {
    background-color: #178ca4;
}

#logo-section a {
    text-decoration: none;
}

.logo {
    color: red;     
}

#logo-text {
    font-size: 2rem;
    color: white;   
    font-weight: 600; 
}

#nav-section {
    display: flex;
    /*overflow: hidden;*/   
}

.nav-icon {
    margin-right: 10px;
    color: red;
}

#nav-section a {    
    display: block;    
    font-size: 1.3rem; 
    font-weight: 500;    
    margin-left: 50px;
    text-decoration: none;
    color: black;   
    text-align: center;   
    padding: 22px 15px;     
}

#nav-section a:hover {    
    color: teal;
    font-weight: 500;
}

/* Welcome Section */
#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /*margin-top: 75px;*/
    background-color: #040d21;    
    color: white;     
}

#profile {
    border-radius: 50%;
    border: 2.5px solid red;
    height: 200px;
    width: 200px;
    margin-top: 75px;
}

#welcome-section p,
#projects p {
    font-size: 1.5rem;    
}

.text-gradient {    
    background: linear-gradient(-70deg, #3bf0e4, #bca1f7);
    color: transparent;
    -webkit-background-clip: text;
}

.neon-text {
    font-weight: 500;
    color: yellowgreen;
}

/* Projects-Seciton */
#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 75px 0;
}

#projects h2 {
    font-size: 2rem;
    margin-bottom: -10px;
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}

#project-grid-section {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: auto;    
    max-width: 1280px;
    width: 100%; 
    margin-top: 30px; 
    margin-bottom: 50px;
    /*margin: auto; */
}

.project-tile {    
    padding: 0;
    margin: 20px;
    background-color: #178ca4;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#project-1,
#project-2,
#project-3,
#project-4 {
    text-align: center;
    padding-bottom: 30px;
}

.project-img {
    width: 100%;
    border-top: 2px solid red;
    border-bottom: 3px solid red;
}

.project-description-section {
    margin: 0 15px;
    overflow: hidden;
}

.project-description {
    font-size: 1rem !important;
    color: white;
    font-style: italic;
    font-weight: normal;
    /*text-align: left;  */
}

.technologies {
    margin: 30px;
}

.html5 {
    margin: 0 10px;
    color: #F16529;
}

.css {
    margin: 0 12px;
    color: #2965f1;
}

.javascript {
    margin: 0 10px;
    color: #F0DB4F;
}

.project-button,
.tile-button {
    padding: 10px 20px;
    border-radius: 7px;
    font-size: 1rem;
    border: 2px solid red;
    background-color: white;
    cursor: pointer;
    margin-bottom: 20px;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    color: black;
}

.tile-button {
    margin-bottom: 5px;
    background-color: whitesmoke;      
    display: inline-block;   
    color: #072a40;  
}

.project-button:hover,
.tile-button:hover {
    background-color: red;
    color: white;
}
