body {
    background-color: #090e11; 
    color: white; 
    margin: 0;  
}

.top-nav {
    height: 65px;
    background-color: #2a2f32;
    color: white;
    display: flex;     
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    align-content: center;      
    text-align: center;  
    position: relative;
    width: 75%;  
    margin-left: 25%;  
}

aside {
    background-color: lawngreen;
    width: 25%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

#navbar {
    margin-left: 20px;
}

#nav-caption {
    height: 65px;
    background-color: blue;
    font-size: 1.3rem;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-left: 20px;
}

main {
    width: 75%;
    margin-left: 25%;
}

#main-doc {
    margin: 0 50px;
}

#footer {
    line-height: 50px;
    width: 75%;
    margin-left: 25%;    
    background-color: #f1f1f1;
    border-top: 1pt solid #000;
    font-family: 'Raleway', sans-serif;
    color: black;
}

.footer-content {
    display: grid; 
    grid-template-columns: 50% 50%;
    grid-template-rows: 60px;
    align-items: center;
    margin: 0 50px;
}

.footer-content-left {
    text-align: left;
}

.footer-content-right {   
    text-align: right; 
}