body {
    background-color: #090e11; 
    color: white; 
    margin: 0;  
}

header {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
}

section p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

.top-nav {
    height: 65px;
    background-color: #2a2f32;
    color: white;
    display: flex;     
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    align-content: center;      
    text-align: center;  
    position: relative;
    width: 75%;  
    margin-left: 25%;  
}

#navbar {
    background-color: lawngreen;
    width: 25%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

#nav-caption {
    height: 65px;
    background-color: blue;
    font-size: 2rem;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-left: 20px;  
    border-bottom: .5px solid blue;  
}

#nav-link-section {
    margin-top: 50px;    
}

.nav-link {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.3rem;
    text-decoration: none; 
    color: white;     
}

.nav-link:hover {
    color: black;
}

#navbar li {
    list-style: none;
    height: 45px;
    text-decoration: none;
    color: white;
}

/*#navbar li:hover {
    color: black;
    cursor: pointer;
}*/

#main-doc {    
    margin: 30px 40px 30px 28%;
}

.main-section {
    background-color: burlywood;
    margin: 50px 0;
}

.main-section header h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    color: red;
}

samp {
    font-weight: bold;
    font-size: 1.1rem;
}

mark {
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    font-size: 0.9rem;
    background-color: #f4f4f4;
    padding: 0 3px;
    border-radius: 2px;
}

code {
    background-color: #f4f4f4;
    color: black;
    display: block;
    line-height: 2;
    border-radius: 5px;
    margin: 0 10px;
    white-space: pre-line;
    padding: 10px;
}

section li {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;
}

#footer {
    line-height: 50px;
    width: 75%;
    margin-left: 25%;    
    background-color: #f1f1f1;
    border-top: 1pt solid #000;
    font-family: 'Raleway', sans-serif;
    color: black;
}

.footer-content {
    display: grid; 
    grid-template-columns: 50% 50%;
    grid-template-rows: 60px;
    align-items: center;
    margin: 0 50px;
}

.footer-content-left {
    text-align: left;
}

.footer-content-right {   
    text-align: right; 
}